body{
    background-color: aliceblue;
    width: 100%;

}
.container{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.imagen{
    width: 300px;
    height: 250px;
    padding: 10px 10px;
    
    
    
}

.titulo{
    color: aliceblue;
    font-size: 3rem;
    padding-right: 10px;
    
    

}
.conteudoPrincipal{
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    
}
.conteudo{
    padding: 100px;
    font-size: 1.5rem;
}
.containerTres{
    padding-top: 40px;
}
.containerQuatro{
    padding-top: 40px;
}
.containerCinco{
    padding-top: 40px;

}
.cursos a{
    text-decoration: none;
    color: black;
    
}
.containerCinco h3{
    font-weight: bold;
}
.rodape{
    width: 100%;
    
    background-color: azure;
    font-size: 1.5rem;
    padding-top: 10px;

}
.rodape .contato{
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    
}
.contato a{
    color: black;
    display: flex;
    text-decoration: none;
}

.wats{
    width: 30px;
}
.email{
    width: 30px;
}
.link{
    width: 30px;
}
.git{
    width: 35px;
}
@media only screen and (max-width : 480px){
    body{
        width: 100%;
    }
    .container{
        display: block;
        text-align: center;
        height: 330px;
    
    }
    .imagen{
        width: 250px;
        height: 180px;
    }
    .rodape .contato {
        padding-bottom: 50px;
        font-size: 1rem;
    }
    .rodape a {
        display: block;
        justify-content: center;
    
    }
    .conteudo{
        padding: 30px;
    }
    
}



 
